/* Селекторы перечисляем через запятую */
/* и для читабельности кода отделяем пробелами. */
 
em, span, p{
    color: red;           /* Каждое объявление свойства */
    font-weight: bold;    /* делаем на новой строке. */
    text-align: center;
    padding-right: 10px;  /* Имя css-свойства отделяем от  */
    overflow: hidden;     /* его значения еще и пробелом. */
    font-style: italic;
    }
       
    /* Не ленитесь писать комментарии! */